In [ ]:
#initialized the spark
#created the APPLICATION
#checked spark is initialized or not
# read the file
# printed schema 
#checked the type
#selected columns
# printed datatypes
#added columns
#dropped columns 
#renamed columns

In [4]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\megha\anaconda3\lib\site-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\megha\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder.appName('pratisedf').getOrCreate()

In [11]:
spark

In [23]:
## read the dataset
df_pyspark = spark.read.option('header','true').csv('test1.csv',inferSchema = True)

In [25]:
## check schema 
df_pyspark.printSchema()

root
 |-- Customer ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Email: string (nullable = true)
 |-- Location: string (nullable = true)

In [35]:
df_pyspark = spark.read.csv('test1.csv',header = True , inferSchema = True)
df_pyspark.show()

+-----------+-------------+---+--------------------+-----------+
|Customer ID|         Name|Age|               Email|   Location|
+-----------+-------------+---+--------------------+-----------+
|          1|     John Doe| 34| johndoe@example.com|   New York|
|          2|   Jane Smith| 28|janesmith@example...|Los Angeles|
|          3| Mike Johnson| 45|   mikej@example.com|    Chicago|
|          4|    Sarah Lee| 32|sarahlee@example.com|      Miami|
|          5|  David Brown| 40|davidbrown@exampl...|    Houston|
|          6|  Emily Davis| 26|emilydavis@exampl...|     Boston|
|          7| Chris Wilson| 38|chriswilson@examp...|  San Diego|
|          8|Jessica Clark| 29|jessicac@example.com|     Dallas|
|          9| Robert White| 50| robertw@example.com|    Atlanta|
|         10|   Lisa Green| 33|lisagreen@example...|    Seattle|
+-----------+-------------+---+--------------------+-----------+

In [37]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [41]:
df_pyspark.columns

['Customer ID', 'Name', 'Age', 'Email', 'Location']

In [43]:
df_pyspark.head(3)

[Row(Customer ID=1, Name='John Doe', Age=34, Email='johndoe@example.com', Location='New York'),
 Row(Customer ID=2, Name='Jane Smith', Age=28, Email='janesmith@example.com', Location='Los Angeles'),
 Row(Customer ID=3, Name='Mike Johnson', Age=45, Email='mikej@example.com', Location='Chicago')]

In [45]:
df_pyspark.show()

+-----------+-------------+---+--------------------+-----------+
|Customer ID|         Name|Age|               Email|   Location|
+-----------+-------------+---+--------------------+-----------+
|          1|     John Doe| 34| johndoe@example.com|   New York|
|          2|   Jane Smith| 28|janesmith@example...|Los Angeles|
|          3| Mike Johnson| 45|   mikej@example.com|    Chicago|
|          4|    Sarah Lee| 32|sarahlee@example.com|      Miami|
|          5|  David Brown| 40|davidbrown@exampl...|    Houston|
|          6|  Emily Davis| 26|emilydavis@exampl...|     Boston|
|          7| Chris Wilson| 38|chriswilson@examp...|  San Diego|
|          8|Jessica Clark| 29|jessicac@example.com|     Dallas|
|          9| Robert White| 50| robertw@example.com|    Atlanta|
|         10|   Lisa Green| 33|lisagreen@example...|    Seattle|
+-----------+-------------+---+--------------------+-----------+

In [55]:
df_pyspark.select(['Name','Age']).show()

+-------------+---+
|         Name|Age|
+-------------+---+
|     John Doe| 34|
|   Jane Smith| 28|
| Mike Johnson| 45|
|    Sarah Lee| 32|
|  David Brown| 40|
|  Emily Davis| 26|
| Chris Wilson| 38|
|Jessica Clark| 29|
| Robert White| 50|
|   Lisa Green| 33|
+-------------+---+

In [57]:
df_pyspark['name']

Column<'name'>

In [59]:
df_pyspark.dtypes

[('Customer ID', 'int'),
 ('Name', 'string'),
 ('Age', 'int'),
 ('Email', 'string'),
 ('Location', 'string')]

In [63]:
df_pyspark.describe().show()

+-------+------------------+------------+-----------------+--------------------+--------+
|summary|       Customer ID|        Name|              Age|               Email|Location|
+-------+------------------+------------+-----------------+--------------------+--------+
|  count|                10|          10|               10|                  10|      10|
|   mean|               5.5|        NULL|             35.5|                NULL|    NULL|
| stddev|3.0276503540974917|        NULL|7.720823214600312|                NULL|    NULL|
|    min|                 1|Chris Wilson|               26|chriswilson@examp...| Atlanta|
|    max|                10|   Sarah Lee|               50|sarahlee@example.com| Seattle|
+-------+------------------+------------+-----------------+--------------------+--------+

In [69]:
## adding columns in dataframe 
df_pyspark = df_pyspark.withColumn('age after 2 year',df_pyspark['age']+2)

In [71]:
df_pyspark.show()

+-----------+-------------+---+--------------------+-----------+----------------+
|Customer ID|         Name|Age|               Email|   Location|age after 2 year|
+-----------+-------------+---+--------------------+-----------+----------------+
|          1|     John Doe| 34| johndoe@example.com|   New York|              36|
|          2|   Jane Smith| 28|janesmith@example...|Los Angeles|              30|
|          3| Mike Johnson| 45|   mikej@example.com|    Chicago|              47|
|          4|    Sarah Lee| 32|sarahlee@example.com|      Miami|              34|
|          5|  David Brown| 40|davidbrown@exampl...|    Houston|              42|
|          6|  Emily Davis| 26|emilydavis@exampl...|     Boston|              28|
|          7| Chris Wilson| 38|chriswilson@examp...|  San Diego|              40|
|          8|Jessica Clark| 29|jessicac@example.com|     Dallas|              31|
|          9| Robert White| 50| robertw@example.com|    Atlanta|              52|
|         10|   Lisa Green| 33|lisagreen@example...|    Seattle|              35|
+-----------+-------------+---+--------------------+-----------+----------------+

In [77]:
#drop the column

df_pyspark= df_pyspark.drop('age after 2 year')

In [79]:
df_pyspark.show()

+-----------+-------------+---+--------------------+-----------+
|Customer ID|         Name|Age|               Email|   Location|
+-----------+-------------+---+--------------------+-----------+
|          1|     John Doe| 34| johndoe@example.com|   New York|
|          2|   Jane Smith| 28|janesmith@example...|Los Angeles|
|          3| Mike Johnson| 45|   mikej@example.com|    Chicago|
|          4|    Sarah Lee| 32|sarahlee@example.com|      Miami|
|          5|  David Brown| 40|davidbrown@exampl...|    Houston|
|          6|  Emily Davis| 26|emilydavis@exampl...|     Boston|
|          7| Chris Wilson| 38|chriswilson@examp...|  San Diego|
|          8|Jessica Clark| 29|jessicac@example.com|     Dallas|
|          9| Robert White| 50| robertw@example.com|    Atlanta|
|         10|   Lisa Green| 33|lisagreen@example...|    Seattle|
+-----------+-------------+---+--------------------+-----------+

In [81]:
#Rename the column
df_pyspark.withColumnRenamed('Name','name').show()

+-----------+-------------+---+--------------------+-----------+
|Customer ID|         name|Age|               Email|   Location|
+-----------+-------------+---+--------------------+-----------+
|          1|     John Doe| 34| johndoe@example.com|   New York|
|          2|   Jane Smith| 28|janesmith@example...|Los Angeles|
|          3| Mike Johnson| 45|   mikej@example.com|    Chicago|
|          4|    Sarah Lee| 32|sarahlee@example.com|      Miami|
|          5|  David Brown| 40|davidbrown@exampl...|    Houston|
|          6|  Emily Davis| 26|emilydavis@exampl...|     Boston|
|          7| Chris Wilson| 38|chriswilson@examp...|  San Diego|
|          8|Jessica Clark| 29|jessicac@example.com|     Dallas|
|          9| Robert White| 50| robertw@example.com|    Atlanta|
|         10|   Lisa Green| 33|lisagreen@example...|    Seattle|
+-----------+-------------+---+--------------------+-----------+