In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('practice2').getOrCreate()

In [4]:
spark

In [9]:
df_pyspark = spark.read.csv('test2.csv' , header = True , inferSchema = True)

In [11]:
df_pyspark.show()

+-----------+-------------+----+--------------------+---------+
|Customer ID|         Name| Age|               Email| Location|
+-----------+-------------+----+--------------------+---------+
|          1|     John Doe|  34| johndoe@example.com| New York|
|          2|   Jane Smith|  28|janesmith@example...|     NULL|
|          3| Mike Johnson|  45|   mikej@example.com|  Chicago|
|          4|    Sarah Lee|  32|sarahlee@example.com|     NULL|
|          5|  David Brown|  40|davidbrown@exampl...|  Houston|
|          6|  Emily Davis|  26|emilydavis@exampl...|   Boston|
|          7| Chris Wilson|  38|chriswilson@examp...|San Diego|
|          8|Jessica Clark|NULL|jessicac@example.com|   Dallas|
|          9| Robert White|  50|                NULL|  Atlanta|
|         10|   Lisa Green|  33|lisagreen@example...|  Seattle|
+-----------+-------------+----+--------------------+---------+

In [21]:
## drop the column
df_pyspark.drop('Name').show()

+-----------+----+--------------------+---------+
|Customer ID| Age|               Email| Location|
+-----------+----+--------------------+---------+
|          1|  34| johndoe@example.com| New York|
|          2|  28|janesmith@example...|     NULL|
|          3|  45|   mikej@example.com|  Chicago|
|          4|  32|sarahlee@example.com|     NULL|
|          5|  40|davidbrown@exampl...|  Houston|
|          6|  26|emilydavis@exampl...|   Boston|
|          7|  38|chriswilson@examp...|San Diego|
|          8|NULL|jessicac@example.com|   Dallas|
|          9|  50|                NULL|  Atlanta|
|         10|  33|lisagreen@example...|  Seattle|
+-----------+----+--------------------+---------+

In [17]:
df_pyspark.show()

+-----------+-------------+----+--------------------+---------+
|Customer ID|         Name| Age|               Email| Location|
+-----------+-------------+----+--------------------+---------+
|          1|     John Doe|  34| johndoe@example.com| New York|
|          2|   Jane Smith|  28|janesmith@example...|     NULL|
|          3| Mike Johnson|  45|   mikej@example.com|  Chicago|
|          4|    Sarah Lee|  32|sarahlee@example.com|     NULL|
|          5|  David Brown|  40|davidbrown@exampl...|  Houston|
|          6|  Emily Davis|  26|emilydavis@exampl...|   Boston|
|          7| Chris Wilson|  38|chriswilson@examp...|San Diego|
|          8|Jessica Clark|NULL|jessicac@example.com|   Dallas|
|          9| Robert White|  50|                NULL|  Atlanta|
|         10|   Lisa Green|  33|lisagreen@example...|  Seattle|
+-----------+-------------+----+--------------------+---------+

In [23]:
df_pyspark.na.drop().show()

+-----------+------------+---+--------------------+---------+
|Customer ID|        Name|Age|               Email| Location|
+-----------+------------+---+--------------------+---------+
|          1|    John Doe| 34| johndoe@example.com| New York|
|          3|Mike Johnson| 45|   mikej@example.com|  Chicago|
|          5| David Brown| 40|davidbrown@exampl...|  Houston|
|          6| Emily Davis| 26|emilydavis@exampl...|   Boston|
|          7|Chris Wilson| 38|chriswilson@examp...|San Diego|
|         10|  Lisa Green| 33|lisagreen@example...|  Seattle|
+-----------+------------+---+--------------------+---------+

In [29]:
df_pyspark.na.drop(how = "all").show()

+-----------+-------------+----+--------------------+---------+
|Customer ID|         Name| Age|               Email| Location|
+-----------+-------------+----+--------------------+---------+
|          1|     John Doe|  34| johndoe@example.com| New York|
|          2|   Jane Smith|  28|janesmith@example...|     NULL|
|          3| Mike Johnson|  45|   mikej@example.com|  Chicago|
|          4|    Sarah Lee|  32|sarahlee@example.com|     NULL|
|          5|  David Brown|  40|davidbrown@exampl...|  Houston|
|          6|  Emily Davis|  26|emilydavis@exampl...|   Boston|
|          7| Chris Wilson|  38|chriswilson@examp...|San Diego|
|          8|Jessica Clark|NULL|jessicac@example.com|   Dallas|
|          9| Robert White|  50|                NULL|  Atlanta|
|         10|   Lisa Green|  33|lisagreen@example...|  Seattle|
+-----------+-------------+----+--------------------+---------+

In [31]:
df_pyspark.na.drop(how = "any").show()

+-----------+------------+---+--------------------+---------+
|Customer ID|        Name|Age|               Email| Location|
+-----------+------------+---+--------------------+---------+
|          1|    John Doe| 34| johndoe@example.com| New York|
|          3|Mike Johnson| 45|   mikej@example.com|  Chicago|
|          5| David Brown| 40|davidbrown@exampl...|  Houston|
|          6| Emily Davis| 26|emilydavis@exampl...|   Boston|
|          7|Chris Wilson| 38|chriswilson@examp...|San Diego|
|         10|  Lisa Green| 33|lisagreen@example...|  Seattle|
+-----------+------------+---+--------------------+---------+

In [35]:
#threshold

df_pyspark.na.drop(thresh = 1).show()

+-----------+-------------+----+--------------------+---------+
|Customer ID|         Name| Age|               Email| Location|
+-----------+-------------+----+--------------------+---------+
|          1|     John Doe|  34| johndoe@example.com| New York|
|          2|   Jane Smith|  28|janesmith@example...|     NULL|
|          3| Mike Johnson|  45|   mikej@example.com|  Chicago|
|          4|    Sarah Lee|  32|sarahlee@example.com|     NULL|
|          5|  David Brown|  40|davidbrown@exampl...|  Houston|
|          6|  Emily Davis|  26|emilydavis@exampl...|   Boston|
|          7| Chris Wilson|  38|chriswilson@examp...|San Diego|
|          8|Jessica Clark|NULL|jessicac@example.com|   Dallas|
|          9| Robert White|  50|                NULL|  Atlanta|
|         10|   Lisa Green|  33|lisagreen@example...|  Seattle|
+-----------+-------------+----+--------------------+---------+

In [39]:
#subset 

df_pyspark.na.drop(how = "any" , subset = ['age','Email']).show()

+-----------+------------+---+--------------------+---------+
|Customer ID|        Name|Age|               Email| Location|
+-----------+------------+---+--------------------+---------+
|          1|    John Doe| 34| johndoe@example.com| New York|
|          2|  Jane Smith| 28|janesmith@example...|     NULL|
|          3|Mike Johnson| 45|   mikej@example.com|  Chicago|
|          4|   Sarah Lee| 32|sarahlee@example.com|     NULL|
|          5| David Brown| 40|davidbrown@exampl...|  Houston|
|          6| Emily Davis| 26|emilydavis@exampl...|   Boston|
|          7|Chris Wilson| 38|chriswilson@examp...|San Diego|
|         10|  Lisa Green| 33|lisagreen@example...|  Seattle|
+-----------+------------+---+--------------------+---------+

In [43]:
df_pyspark.na.fill("missing value").show()

+-----------+-------------+----+--------------------+-------------+
|Customer ID|         Name| Age|               Email|     Location|
+-----------+-------------+----+--------------------+-------------+
|          1|     John Doe|  34| johndoe@example.com|     New York|
|          2|   Jane Smith|  28|janesmith@example...|missing value|
|          3| Mike Johnson|  45|   mikej@example.com|      Chicago|
|          4|    Sarah Lee|  32|sarahlee@example.com|missing value|
|          5|  David Brown|  40|davidbrown@exampl...|      Houston|
|          6|  Emily Davis|  26|emilydavis@exampl...|       Boston|
|          7| Chris Wilson|  38|chriswilson@examp...|    San Diego|
|          8|Jessica Clark|NULL|jessicac@example.com|       Dallas|
|          9| Robert White|  50|       missing value|      Atlanta|
|         10|   Lisa Green|  33|lisagreen@example...|      Seattle|
+-----------+-------------+----+--------------------+-------------+

In [45]:
df_pyspark.na.fill("missing value" , subset=['email']).show()

+-----------+-------------+----+--------------------+---------+
|Customer ID|         Name| Age|               Email| Location|
+-----------+-------------+----+--------------------+---------+
|          1|     John Doe|  34| johndoe@example.com| New York|
|          2|   Jane Smith|  28|janesmith@example...|     NULL|
|          3| Mike Johnson|  45|   mikej@example.com|  Chicago|
|          4|    Sarah Lee|  32|sarahlee@example.com|     NULL|
|          5|  David Brown|  40|davidbrown@exampl...|  Houston|
|          6|  Emily Davis|  26|emilydavis@exampl...|   Boston|
|          7| Chris Wilson|  38|chriswilson@examp...|San Diego|
|          8|Jessica Clark|NULL|jessicac@example.com|   Dallas|
|          9| Robert White|  50|       missing value|  Atlanta|
|         10|   Lisa Green|  33|lisagreen@example...|  Seattle|
+-----------+-------------+----+--------------------+---------+

In [49]:
df_pyspark.show()

+-----------+-------------+----+--------------------+---------+
|Customer ID|         Name| Age|               Email| Location|
+-----------+-------------+----+--------------------+---------+
|          1|     John Doe|  34| johndoe@example.com| New York|
|          2|   Jane Smith|  28|janesmith@example...|     NULL|
|          3| Mike Johnson|  45|   mikej@example.com|  Chicago|
|          4|    Sarah Lee|  32|sarahlee@example.com|     NULL|
|          5|  David Brown|  40|davidbrown@exampl...|  Houston|
|          6|  Emily Davis|  26|emilydavis@exampl...|   Boston|
|          7| Chris Wilson|  38|chriswilson@examp...|San Diego|
|          8|Jessica Clark|NULL|jessicac@example.com|   Dallas|
|          9| Robert White|  50|                NULL|  Atlanta|
|         10|   Lisa Green|  33|lisagreen@example...|  Seattle|
+-----------+-------------+----+--------------------+---------+

In [ ]:
##end