In [51]:
#spark filter operations

In [5]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName('filterop').getOrCreate()

In [10]:
spark

In [13]:
df_pyspark = spark.read.csv('test3.csv',header = True, inferSchema = True)

In [15]:
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Rajesh| 28|         5| 75000|
| Priya| 25|         3| 60000|
|  Anil| 30|         7| 90000|
|Sunita| 27|         4| 70000|
|Vikram| 35|        10|120000|
|  Neha| 29|         6| 85000|
| Arjun| 32|         8| 95000|
| Pooja| 26|         3| 62000|
|Ramesh| 40|        15|150000|
+------+---+----------+------+

Filter operations

In [23]:
#salary less than or equal to 20000

df_pyspark.filter("salary<= 90000").show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Rajesh| 28|         5| 75000|
| Priya| 25|         3| 60000|
|  Anil| 30|         7| 90000|
|Sunita| 27|         4| 70000|
|  Neha| 29|         6| 85000|
| Pooja| 26|         3| 62000|
+------+---+----------+------+

In [27]:
df_pyspark.filter("salary<= 90000").select(['Name','age']).show()

+------+---+
|  Name|age|
+------+---+
|Rajesh| 28|
| Priya| 25|
|  Anil| 30|
|Sunita| 27|
|  Neha| 29|
| Pooja| 26|
+------+---+

In [29]:
df_pyspark.filter((df_pyspark['salary']<=90000)&
                  (df_pyspark ['salary']>60000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Rajesh| 28|         5| 75000|
|  Anil| 30|         7| 90000|
|Sunita| 27|         4| 70000|
|  Neha| 29|         6| 85000|
| Pooja| 26|         3| 62000|
+------+---+----------+------+

In [31]:
df_pyspark.filter(~(df_pyspark['salary']<=90000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Vikram| 35|        10|120000|
| Arjun| 32|         8| 95000|
|Ramesh| 40|        15|150000|
+------+---+----------+------+